build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build


    docker build -f Dockerfile -t todoapp:$GIT_COMMIT_ID . 
    docker tag todoapp:$GIT_COMMIT_ID  todoapp:latest
deploy:
  type: text
  content: |2
     #/bin/sh
    kubectl apply -n $ROOST_NAMESPACE -f deployment.yml
    kubectl apply -n $ROOST_NAMESPACE -f load-balancer.yml
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-01-24T11:24:22.273Z
