build:
  type: text
  content: |-
    #!/bin/sh

    docker build -t TodoApp:$GIT_COMMIT_ID . 
    docker tag TodoApp:$GIT_COMMIT_ID TodoApp:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    kubectl apply -n $ROOST_NAMESPACE -f deployment.yml
    kubectl apply -n $ROOST_NAMESPACE -f load-balancer.yml
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: Rahul Goyal
lastUpdatedOn: 2023-01-24T05:02:30.975Z
