build:
  type: text
  content: |-
    #!/bin/sh

    docker build -t todoApp:$GIT_COMMIT_ID . 
    docker tag todoApp:$GIT_COMMIT_ID todoApp:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    kubectl apply -n $ROOST_NAMESPACE -f deployment.yml
    kubectl apply -n $ROOST_NAMESPACE -f load-balancer.yml
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: Rahul Goyal
lastUpdatedOn: 2023-01-24T05:25:33.691Z
